<article class="post">
  <div class="title">
    <a href="/post/{{id}}"> {{title}}</a> 
  </div>
    <div class="post-content">{{post_content}}</div>
    {{!-- <a href="/post/">{{post-title}} {{post_content}}</a> --}}
  {{!-- </div> --}}
  <div class="meta">
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
            {{!-- <strong>Posted by {{user.username}} on {{format_date created_at}}</strong> --}}

  </div>
</article>